<h1>Request admission to the server:</h1>
<form action="/create-account" method="POST">
<label for="">Email: </label>
<input type="text" name="email" id="">
<br>
<br>
<label for="">What is your relation to the server admin?</label>
<br>
<textarea name="relation" id="" cols="70" rows="10" placeholder="Describe relationship"></textarea>
<br>
<br>
<button type="submit">Submit request</button>
<br>
<br>
<p>Submitting your request does not guarantee your entrance into the server</p>
</form>