<h1>Create your password: </h1>

<form action="/create-password" method="POST">
  <label for="">Password: </label>
  <input type="password" name="password" id="">
  <br>
  <br>
  <button type="submit">Create password</button>
</form>