

<form enctype="multipart/form-data" action="/upload" method="POST">
  <label for="">Select a file</label>
  <input id="file" type="file" name="file">
  <br>
  <br>
  <button type="submit">Upload</button>
</form>