body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gainsboro;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 93vw; 
  justify-content: space-between;
  margin: 0%;
  padding: 10px 20px;
  z-index: 1; 
}

.nav-left {
  display: block;
}

nav a {
  /* display: inline-block; */
  width: auto;
  padding: 0px 15px;
  color: white;
  transition: 0.2s;
}

nav a:hover {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: crimson;
  transition: 0.2s;
}

.card {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  width: 45vw;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#admin-create-user-form {
  display: none;
}

#title-logo {
  position: relative;
  text-align: center;
  top: 35vh;
  font-size: 85px;
}

#guest-header {
  color: white;
}

.admin-categories {
  text-decoration-line: underline;
}